

.container-404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-404 h1 {
  font-size: 3rem;
  color: #ED143D;
}

.a-404 {
  color: #181818;
  border: 1px solid #181818;
}
